.welcome-background {
    /*background-image: url('../images/sea.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f2f2f2;
}

.welcome-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-content {
    max-width: 50%;
    max-height: 100%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 767px) {
    .welcome-content {
        max-width: 100%;
        padding: 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}

